Pandas merge function provides functionality similar to database joins. You can merge two data frames using a column. One can perform left, right, outer or inner joins on these dataframes.

In [3]:
windspeed_df = pd.DataFrame({
    "city":["pune","mumbai"],
    "windspeed":[10,34]
})
windspeed_df

     city  windspeed
0    pune         10
1  mumbai         34

In [4]:
tempt_df = pd.DataFrame({
    "city":["mumbai","pune","solapur"],
    "tempreature":[28,26,30]
})
tempt_df

      city  tempreature
0   mumbai           28
1     pune           26
2  solapur           30

In [12]:
merge_df = pd.merge(tempt_df,windspeed_df, on = "city")
merge_df

     city  tempreature  windspeed
0  mumbai           28         34
1    pune           26         10

In [13]:
merge_outerdf = pd.merge(tempt_df,windspeed_df, on = "city", how="outer")
merge_outerdf

      city  tempreature  windspeed
0   mumbai           28       34.0
1     pune           26       10.0
2  solapur           30        NaN

In [14]:
merge_outerdf1 = pd.merge(tempt_df,windspeed_df, on = "city", how="outer", indicator = True)
merge_outerdf1

      city  tempreature  windspeed     _merge
0   mumbai           28       34.0       both
1     pune           26       10.0       both
2  solapur           30        NaN  left_only